<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/var/log/dmc/dmc.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %c{0} - %X{collectorId} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/dmc/dmc.log.%d{yyyy-MM-dd}</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>30</maxIndex>
        </rollingPolicy>
    </appender>
    <!-- <appender name="syslog" class="ch.qos.logback.classic.net.SyslogAppender"> -->
    <!-- <syslogHost>${hostName}</syslogHost> -->
    <!-- <facilityPrinting>false</facilityPrinting> -->
    <!-- <facility>LOCAL6</facility> -->
    <!-- <SuffixPattern>[XMLD2] [%t] [loadId\(%X{loadID}\) - %X{customer} - %X{configuration} - %X{filename}]: %-4relative %-5level %class - %msg%n</SuffixPattern> -->
    <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> -->
    <!-- <level>${log.root.level}</level> -->
    <!-- </filter> -->
    <!-- </appender> -->
<!--     <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender"> -->
<!--         <encoder> -->
<!--             <charset>UTF-8</charset> -->
<!--             <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %c{0} - %X{collectorId} %msg%n</pattern> -->
<!--         </encoder> -->
<!--     </appender> -->


    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!-- in the absence of the class attribute, it is assumed that the desired discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
        <discriminator>
            <key>collectorId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <!-- AGGIUNGERE A RUNTME UNA VARIABILE DI CONTESTO PER LA DEFINIZIONE DELLA DIR DEI FILES DI EXPORT !!! -->
            <appender name="ROLLING-FILE-${collectorId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!-- <File>c:/dmc/test/log/sift/${collectorId}.csv</File> -->
                <File>${core.export.path}${collectorId}.${core.export.file.extension}</File>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%msg</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${core.export.path}${collectorId}.${core.export.file.extension}.%d{yyyy-MM-dd}</fileNamePattern>
                    <minIndex>1</minIndex>
                    <maxIndex>30</maxIndex>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <logger name="com.redhat.it.customers.dmc" level="${log.core.level}" />
<!--     <logger name="org.jboss.as.controller" level="TRACE">  -->
<!--         <appender-ref ref="CONSOLE" /> -->
<!--     </logger> -->
    <logger name="exportLogger" level="TRACE">
        <appender-ref ref="SIFT" />
    </logger>
    <root level="${log.root.level}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING_FILE" />
    </root>

</configuration>
